@page "/"

@inject NavigationManager Navigation

<h1>Hello, world!</h1>

<button @onclick="FetchData">Fetch Data</button>

@code{
    private void FetchData()
    {
        Navigation.NavigateTo("/FetchData");
    }
}